.contacts {
  text-align: left;
}

.contacts__lists {
  display: flex;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.contacts__column {
  width: 48%;
  padding-bottom: 20px;

  &--numbers {
    width: 40%;
    margin-right: 20px;
  }

  @media (max-width: 500px) {
    width: 100%;
    margin-right: 0;
  }
}

.contacts__heading {
  display: inline-block;
  color: #2d3a4d;
  font-size: 36px;
  line-height: 130%;
  font-weight: 700;

  @media (max-width: 500px) {
    font-size: 26px;
  }
}

.contacts__caption {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contacts__list {
  @include list-style;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__link {
  font-size: 14px;
  line-height: 21px;
}

.contacts__name {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.contacts__content {
  display: flex;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;

  @media (max-width: 886px) {
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
}

.contacts__map {
  width: 63%;
  margin-right: 30px;
  border-radius: 10px;
  min-height: 390px;
  background-color: #fbf7e1;

  @media (max-width: 886px) {
    width: 100%;
  }
}

.contacts__address {
  font-style: normal;
  text-align: left;
  margin-bottom: 25px;
}
