.service {
  padding-top: 150px;
  padding-bottom: 70px;
  color: #2d3a4d;
  text-align: left;
  background-color: #f4f7fc;
  background: url("../img/bg-auto.png") no-repeat center,
              url("../img/service-bg.png") no-repeat top;

  @media (max-width: 890px) {
    padding-top: 210px;
  }
}


.service__main-wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 50px;

  @media (max-width: 689px) {
    padding-bottom: 20px;
    flex-direction: column-reverse;
  }
}

.service__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: 890px) {
    flex-direction: column;
  }
}

.service__content {
  width: 70%;
  margin-left: 70px;

  @media (max-width: 999px) {
    margin-left: 30px;
  }

  @media (max-width: 689px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.service__caption {
  font-size: 36px;
  line-height: 150%;
  font-weight: bold;
  margin: 0;

  @media (max-width: 890px) {
    font-size: 30px;
  }
}

.service__subcaption {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 2em;

  @media (max-width: 999px) {
    font-size: 20px;
    width: 100%;
  }
}

.service__data {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #055ef3;
  margin: 15px 0;
}

.service__prev {
  width: 100%;
  min-height: 500px;
  margin-top: 30px;

  border-radius: 15px 15px 0 0;

  @media (max-width: 999px) {
    min-height: 300px;
  }
}

.service__text-wrapper img {
  border-radius: 15px;

  width: 100%;
  margin-top: 30px;
}

.service__main-img {
  border-radius: 15px 15px 0 0;
}

.service__text-wrapper h2 {
  font-size: 24px;
  line-height: 150%;
  font-weight: bold;
  margin-top: 10px;
}

.service__text-wrapper h3 {
  font-size: 20px;
  line-height: 150%;
  font-weight: bold;
}

.service__text-wrapper p {
  text-align: justify;
  margin-bottom: calc(20px + 1em);
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.service__text-wrapper {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: #ffffff;
  margin-top: -1em;
  border-radius: 0 0 10px 10px;
  padding: 45px 50px 50px 40px;

  @media (max-width: 890px) {
    padding: 20px 15px 10px 15px;
  }
}

.service__text-wrapper a {
  color: blue;
  text-decoration: underline;
}

.service__text-wrapper ul {
  padding-left: 20px;
}

.service__text-wrapper li {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.service__buttons {
  display: flex;

  @media (max-width: 725px) {
    flex-direction: column;
  }
}

.service__buttons a {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;

  @media (max-width: 725px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
